* {
  margin: 0;
  padding: 0;
}

body {
  background-color: peachpuff;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.gomdol{
  width: 600px;
  height: 600px;
  margin: auto;
  position: relative;
  animation: move-gomdol 2s infinite alternate, scale-gomdol 4s infinite;
}
.gomdol .face{
  width: 350px;
  height: 300px;
  border: 10px solid black;
  background-color: #b18842;
  border-radius: 100%;
  margin: auto;
  transform: translateY(50%);
}

.gomdol .ear{
  width: 130px;
  height: 100px;
  border: 10px solid black;
  background-color: #b18842;
  border-radius: 100% 100% 0 0;
  position: absolute;
}
.gomdol .ear.left{
  transform: rotate(-45deg);
  left: 80px;
  top: 170px;
  animation: move-ear-left 1s infinite alternate;
}
.gomdol .ear.right{
  transform: rotate(45deg);
  right: 80px;
  top: 170px;
  animation: move-ear-right 1s infinite alternate;
}

.face .eye{
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  top: 130px;
}
.face .eye.left{
  left: 100px;
}
.face .eye.right{
  right: 100px;
}

.face .nose.outside{
  width: 110px;
  height: 110px;
  border: 8px solid #000;
  border-radius: 100%;
  position: absolute;
  top: 130px;
  left: 112px;
  background-color: white;
}
.face .nose.inside{
  width: 40px;
  height: 30px;
  border: 5px solid #000;
  background-color: #3e2416;
  border-radius: 90px 90px 10px 10px;
  position: absolute;
  top: 160px;
  left: 150px;
}

.face .line.col{
  width: 35px;
  height: 10px;
  background-color: #000;
  position: absolute;
  top: 210px;
  left: 157px;
  transform: rotate(90deg);
}
.face .line.row{
  width: 80px;
  height: 60px;
  border-bottom: 10px solid #000;
  border-radius: 70%;
  position: absolute;
  top: 163px;
  left: 135px;
}

.face .cheek{
  width: 80px;
  height: 30px;
  border-radius: 100%;
  background-color: pink;
  position: absolute;
  animation: scale-cheek 2s infinite;
}

.face .cheek.left{
  left: 30px;
  top: 180px;
}

.face .cheek.right{
  right: 30px;
  top: 180px;
}

@keyframes move-gomdol {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(30deg);}
  50% {transform: rotate(-30deg);}
}

@keyframes move-ear-left {
  0% {
    transform: rotate(-45deg); 
    left: 80px;
    top: 170px;
  }
  15% {
    transform: rotate(-60deg);
    left: 90px;
    top: 160px;
  }
}

@keyframes move-ear-right {
  0% {
    transform: rotate(45deg);
    right: 80px;
    top: 170px;
  }
  15% {
    transform: rotate(60deg);
    right: 90px;
    top: 160px;
  }
}

@keyframes scale-cheek {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes scale-gomdol {
  0% {
    transform: scale(1);

  }
  50% {
    transform: scale(4);
  }
}