/* reset */
body,
h1,
p {
  margin: 0;
}
h1 {
  font-size: inherit;
  font-weight: inherit;
}

/* common */
.container{
  width: 1080px;
  margin: auto;
  padding: 100px 0;
  box-shadow: 0 0 10px red inset;
  background-color: #673399;
}
.beige-page{
  box-shadow: 0 0 10px yellow inset;
}
.head-text{
  box-shadow: 0 0 10px forestgreen inset;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  
}
.head-text h1{
  width: 26%;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.head-text p{
  width: 300px;
  font-size: 14px;
  color: #bd8fe8;
  margin-left: 20px;
}
.head-text p::before{
  content: '';
  width: 50px;
  height: 2px;
  background-color:#bd8fe8;
  display: inline-block;
  margin: auto 0;
}