*{
  margin: 0;
  padding: 0;
}

body{
  color: white;
  font: 2em bold;
}
header{
  width: 100%;
  height: 150px;
  background-color: skyblue;
}
section{
  width: 70%;
  height: 450px;
  background-color: darkblue;
  float: left;
}
aside{
  width: 30%;
  height: 450px;
  background-color: yellowgreen;
  float: left;
}
footer{
  width: 100%;
  height: 150px;
  background-color: palevioletred;
  clear: both;
}
