/* .txt-hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.label-hold{
  position: relative;
  display: inline-block;
  margin: 20px 0;
  font-size: 16px;
  cursor: pointer;
}
.label-hold::before{
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  vertical-align: -5px;
  border: 1px solid black;
}
.label-hold::after{
  position: absolute;
  top: 2px;
  left: 22px;
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(./images/checkmark.png) 0 0/ 22px no-repeat;
  opacity: 0;
}
.inputHold:checked+.label-hold::after{
  left: 1px;
  opacity: 1;
} */


 
.txt-hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.labl-hold {
  position: relative;
  display: inline-block;
  margin: 20px 0;
  font-size: 16px;
  cursor: pointer;
}

.labl-hold::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  vertical-align: -5px;
  border: 1px solid black;
}

.inp-hold:focus-visible+.labl-hold::before {
  outline: 2px solid #000;
  outline-offset: 5px;
}

.labl-hold::after {
  position: absolute;
  top: 2px;
  left: 22px;
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  /* background-image: url(images/checkmark.png);
  background-size: 22px;
  background-repeat: no-repeat; */
  background: url(./images/checkmark.png) 0 0/22px no-repeat;
  transition: .3s ease;
  opacity: 0;
}

.inp-hold:checked+.labl-hold::after {
  left: 1px;
  opacity: 1;
}